
.content{
    animation-name: fadeIn;
    animation-duration: 1s;
}

.terminal{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    box-sizing: border-box;
    text-align:left;
    font-weight: 700;
    font-family: monospace;
    animation-name: terminalAnimation;
    animation-duration: 5s;
}

.event{
    color: #d3869b;
}

.error{
    color: #fb4934;
}

.success{
    color: #8ec07c;
}

.inputArea{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
    border: none;
}

.atSymbol{
    color: #83a59a;
}

.inputLine{
    color: #b8bb26;
}

.placeholder{
    color: white;
    text-shadow: 0px 0px 3px white;
}

.title{
    color: #83a598;
}

.version{
    color: #928374;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}